{
	"sync": [
		{
			"trello": {
				"member": "my_trello_username",
		        "api_key": "something",
		        "api_secret": "blahblahblah",
		        "token": "blahblahblah"
			},
			"google_calendar": {
				"id": "something@group.calendar.google.com",
				"name": "Trello Calendar",
				"auth_type": "service_account"
			}
		}
	]
}
